body {
  font-family: proxima-nova, Sans-Serif;
  color: #292E37; }
  body.grey {
    background-color: #F2F2F2; }

.ui.header {
  position: absolute;
  left: 0;
  right: 0;
  padding: 2em;
  background-color: #fff;
  top: 0; }
  .ui.header.small {
    padding: 1em; }
  .ui.header.large {
    padding: 3em; }

.ui.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1em; }
  .ui.footer > .ui.font {
    color: #999999; }
  .ui.footer.center {
    text-align: center;
    vertical-align: middle; }

.ui.container {
  position: absolute;
  left: 0;
  right: 0; }

.ui.font {
  color: #333333;
  line-height: 20px;
  margin: 1em;
  font-size: 16px;
  font-weight: 300; }
  .ui.font.small {
    line-height: 18px;
    font-size: 14px;
    font-weight: 400; }
  .ui.font.large {
    line-height: 18px;
    font-size: 40px;
    font-weight: 100; }
  .ui.font.link {
    color: #2E99CE;
    cursor: pointer; }
    .ui.font.link:hover {
      color: #1585CF; }
  .ui.font.center {
    text-align: center;
    vertical-align: middle; }
  .ui.font.right {
    margin-top: 0;
    margin-right: auto;
    text-align: end; }
  .ui.font.label {
    color: #999999; }

.ui.box {
  width: 50%;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  margin: 1rem 2em;
  padding: 1em 1em;
  border-radius: 0.28571429rem;
  border: 1px solid rgba(34, 36, 38, 0.15); }
  .ui.box:first-child {
    margin-top: 0em; }
  .ui.box:last-child {
    margin-bottom: 0em; }
  .ui.box.center {
    display: block;
    margin-left: auto;
    margin-right: auto; }

.ui.button {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: none;
  border: none;
  vertical-align: baseline;
  background: #5C5C5C none;
  color: #fff;
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: 1.6em 0.25em 1em 0em;
  padding: 0.78571429em 1.5em 0.78571429em;
  text-transform: none;
  text-shadow: none;
  font-weight: bold;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: 0.28571429rem;
  box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
  will-change: '';
  -webkit-tap-highlight-color: transparent; }
  .ui.button:hover {
    background-color: #333333; }
  .ui.button.green {
    background-color: #329600;
    background-image: none; }
    .ui.button.green:hover {
      background-color: #48A11A; }
    .ui.button.green:focus {
      background-color: #48A11A; }
  .ui.button.orange {
    background-color: #FF9600;
    background-image: none; }
    .ui.button.orange:hover {
      background-color: #FFA11A; }
    .ui.button.orange:focus {
      background-color: #FFA11A; }
  .ui.button.center {
    display: block;
    margin-left: auto;
    margin-right: auto; }

.ui.image {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 35%;
  background-color: transparant; }
  .ui.image svg, .ui.image img {
    display: block;
    max-width: 100%;
    height: auto; }
  .ui.image.center {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .ui.image.circle {
    overflow: hidden;
    border-radius: 500rem; }
  .ui.image.fill {
    background-color: #999999; }
  .ui.image.jumbo {
    max-width: 75%; }
  .ui.image.large {
    max-width: 55%; }
  .ui.image.medium {
    max-width: 35%; }
  .ui.image.small {
    max-width: 25%; }
  .ui.image.extra.small {
    max-width: 9%; }

.ui.form {
  position: relative;
  max-width: 100%; }
  .ui.form > p {
    margin: 1em 0em; }
  .ui.form .field {
    clear: both;
    margin: 1em 0em 0.3em; }
    .ui.form .field:last-child {
      margin-bottom: 0em; }
    .ui.form .field > label {
      color: #999999;
      font-size: small; }
  .ui.form textarea,
  .ui.form input:not([type]),
  .ui.form input[type="date"],
  .ui.form input[type="datetime-local"],
  .ui.form input[type="email"],
  .ui.form input[type="number"],
  .ui.form input[type="password"],
  .ui.form input[type="search"],
  .ui.form input[type="tel"],
  .ui.form input[type="time"],
  .ui.form input[type="text"],
  .ui.form input[type="file"],
  .ui.form input[type="url"] {
    width: 100%;
    vertical-align: top;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 0em;
    outline: none;
    -webkit-appearance: none;
    tap-highlight-color: rgba(255, 255, 255, 0);
    line-height: 1.2142em;
    padding: 0.67861429em 1em;
    font-size: 1em;
    background: #FFFFFF;
    border: 1px solid rgba(34, 36, 38, 0.15);
    color: rgba(0, 0, 0, 0.87);
    border-radius: 0.28571429rem;
    box-shadow: 0em 0em 0em 0em transparent inset;
    -webkit-transition: color 0.1s ease, border-color 0.1s ease;
    transition: color 0.1s ease, border-color 0.1s ease; }

a {
  color: #2E99CE;
  text-decoration: none; }
  a:hover {
    color: #1585CF; }

/*
@include heading-format(h1, 42px, 46px, 100);
@include heading-format(h2, 32px, 36px, 300);
@include heading-format(h3, 28px, 32px, 400);
@include heading-format(h4, 24px, 28px, 400);
@include heading-format(h5, 20px, 24px, 300);
@include heading-format(h6, 18px, 22px, 300);
*/
.ui.box.jumbo {
  width: 75%; }
  .ui.box.jumbo.center {
    left: 12.5%; }

.ui.box.large {
  width: 60%; }
  .ui.box.large.center {
    left: 20%; }

.ui.box.medium {
  width: 40%; }
  .ui.box.medium.center {
    left: 30%; }

.ui.box.small {
  width: 20%; }
  .ui.box.small.center {
    left: 40%; }
